.mobile-logo {
    display: none;
    height: 60%;
}

.mobile-logo img {
    height: 100%;
}

.hamburger {
    display: none;
    content: url(../media/bars-solid.svg);
    width: 40px;
    filter: invert(36%) sepia(12%) saturate(2893%) hue-rotate(183deg) brightness(92%) contrast(86%);
    transition: 0.5s;
    z-index: 3;
}

.hamburger i {
    color: var(--accent-color-1);
    font-size: 3rem;
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 1400px) {
    :root {
        --horizontal-page-padding: 5%;
    }
}

@media (max-width: 1200px) {
   .hero-left {
        width: 60%;
   }

   .hero-right {
        width: 40%;
   }
}

@media (max-width: 1000px) {
    a:has(button), .button-light, .button-dark, .hero-button-light, .button-white {
        display: block;
        width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    header {
        justify-content: space-between;
    }

    section, footer {
        padding: 100px var(--horizontal-page-padding); /* Reduce top/bottom padding on mobile? */
    }

    .left-column, .right-column {
        width: 100%;
    }

    header {
        justify-content: space-between;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        padding: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.97);
        transition: 0.5s ease-in-out;
        transform: translateX(100vw);
    }

    .nav-item {
        width: 100%;
        padding: 30px 0 5px 0;
        margin: 0;
        color: white;
        border-bottom: 1px solid grey;
        font-size: 2rem;
    }

    .nav-item:hover, .nav-item:active {
        color: white;
        scale: 1.0;
    }

    .nav-cta {
        background-image: none;
        color: white;
        padding: 30px 0 5px 0;
        margin: 0;
        border-radius: none;
        transition: 0;
    }

    .hamburger {
        display: block;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HERO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .hero {
        flex-direction: column-reverse;
    }

    .hero-left, .hero-right {
        width: 100%;
    }

    .hero-left {
        min-height: 70vh;
    }

    .hero-right {
        height: 30vh;
        -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 5% 100%);
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 5% 100%);
    }

    .hero-text-container {
        padding: var(--horizontal-page-padding);
    }

    .hero-button-container {
        margin: 30px 0;         
    }


    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ INTRO SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .intro {
        flex-direction: column;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SERVICES SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .services p {
        width: 100%;
        text-align: left;
    }

    .service-card {
        flex-direction: column;
        text-align: left;
        background-color: white;
        background-image: none;
        box-shadow: none;
    }

    .service-card:nth-child(even) {
        flex-direction: column;
    }

    .service-card:nth-child(even) .service-card-text {
        text-align: left;
    }

    .service-card-text, .service-card-image {
        width: 100%;
        color: var(--accent-color-1);
        text-align: left;
        font-size: 2rem;
    }

    .service-card-image, .service-card:nth-child(even) .service-card-image {
        -webkit-clip-path: polygon(0 0, 95% 0, 70% 100%, 0 100%);
        clip-path: polygon(0 0, 95% 0, 70% 100%, 0 100%);
    }

    .service-card:hover .service-card-text {
        color: var(--accent-color-1);
        scale: 1;
    }


    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ QUOTE SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .quote-section {
        flex-direction: column-reverse;
    }
    .quote-section .left-column, .quote-section .right-column {
        padding: 90px 5%  70px var(--horizontal-page-padding);
    }

    .quote-section .right-column {
        -webkit-clip-path: none;
        clip-path: none;
        width: 100vw;
        aspect-ratio: 4/3;
    }

     /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LATEST WORK SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .latest-work-section {
        flex-direction: column;
    }

    .latest-work-section .left-column {
        margin-bottom: 30%;
    }

     /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ REVIEWS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .reviews-section {
        flex-direction: column;
    }

    .reviews-section .right-column {
        display: flex;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 90px;
        -webkit-clip-path: none;
        clip-path: none;
    }

    .review-slide {
        height: 50vh;
    }

    .review-text {
        font-size: 1.4rem;
    }

    .five-stars {
        height: 1.4rem;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ WHY CHOOSE US SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .why-choose-us-section p {
        width: 100%;
        text-align: left;
    }

    .reason-container {
        flex-direction: column;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ WHY CHOOSE US SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .CTA-section {
        flex-direction: column;
    }

    .CTA-section .left-column {
        -webkit-clip-path: none;
        clip-path: none;
        width: 100vw;
        aspect-ratio: 4/3;
    }

    /* CTA SECTION*/
    .CTA-section button {
        margin: 18px 0;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    footer {
        padding-bottom: 0;
    }

    .footer-column-wrapper {
        flex-direction: column-reverse;
    }

    .footer-column-wrapper .left-column {
        text-align: center;
        padding-top: 90px;
    }

    .footer-logo {
        width: 80%;
    }

    .contact-info {
        font-size: 2rem;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer-bottom span {
        padding-bottom: 6px;
    }

    .built-by, .copyright {
        display: block;
        float: none;
        text-align: center;
    }
 }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ "header.js" Classes  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.move-on-screen {
    transform: translateX(0);
}

.move-off-screen {
    transform: translateX(100vw);
}

.hamburger-cross {
    content: url(../media/xmark-solid.svg);
    filter: grayscale(100%) brightness(100%) contrast(100%) invert(100%);
    transform: rotateY(180deg);
}